<a href="https://colab.research.google.com/github/harshita953/testgit/blob/main/pythonws1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello!")

hello!

#this is the demo code

In [ ]:
list1=['Jaipur','Bikaner','Udaipur','Kota']
for item in list1:
    print(len(item))

6
7
7
4

In [ ]:
[len(item) for item in list1] #list comprehension

[6, 7, 7, 4]

In [ ]:
def f1(str1):
    return len(str1)

In [ ]:
f1('jaipur')

6

In [ ]:
list(map(f1,list1)) #functional programming feature

[6, 7, 7, 4]

#find out those cities with pur in subtext

In [ ]:
for item in list1:
    if 'pur' in item:
         print(item)

Jaipur
Udaipur

In [ ]:
def f2(str1):
  if 'pur' in str1:
      return True
  else:
      return False

In [ ]:
f2('kota')

False

In [ ]:
list(filter(f2,list1))

['Jaipur', 'Udaipur']

In [ ]:
list(map(f2,list1))

[True, False, True, False]

In [ ]:
list2=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
def f3(x,y):
  return(x+y)

In [ ]:
import functools

In [ ]:
dir(functools)

['RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [ ]:
functools.reduce(f3,[1,2,3,4,5,6,7,8,9,10])

55

# data analytics

In [2]:
import pandas

In [3]:
pandas.__version__

'1.1.5'

In [6]:
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [ ]:
help(pandas.read_csv)

In [8]:
df= pandas.read_csv("https://raw.githubusercontent.com/neuerung/demo/master/Salaries.csv")

In [9]:
print(df)

         rank discipline   phd  service  gender    salary
0        Prof          B  56.0       49    Male  186960.0
1        Prof          A  12.0        6    Male   93000.0
2        Prof          A  23.0       20    Male  110515.0
3        Prof          A  40.0       31    Male  131205.0
4        Prof          B  20.0       18    Male  104800.0
..        ...        ...   ...      ...     ...       ...
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

[78 rows x 6 columns]

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.shape

(78, 6)

In [12]:
df.columns.tolist()

['rank', 'discipline', 'phd', 'service', 'gender', 'salary']

In [13]:
print(df.head())

   rank discipline   phd  service gender    salary
0  Prof          B  56.0       49   Male  186960.0
1  Prof          A  12.0        6   Male   93000.0
2  Prof          A  23.0       20   Male  110515.0
3  Prof          A  40.0       31   Male  131205.0
4  Prof          B  20.0       18   Male  104800.0

In [14]:
print(df.tail())

         rank discipline   phd  service  gender    salary
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

In [17]:
print(df.sample(5))

         rank discipline   phd  service  gender    salary
34  AssocProf          B   NaN        8    Male  119800.0
56  AssocProf          A  10.0        8  Female   77500.0
18       Prof          A  19.0        7    Male  107300.0
76       Prof          A  28.0       14  Female  109954.0
27       Prof          A  45.0       43    Male  155865.0

In [18]:
df['salary'].mean()

108003.3552631579

In [19]:
df['salary']>100000

0      True
1     False
2      True
3      True
4      True
      ...
73     True
74     True
75     True
76     True
77     True
Name: salary, Length: 78, dtype: bool

In [21]:
df[df['salary']>100000]

         rank discipline   phd  service  gender    salary
0        Prof          B  56.0       49    Male  186960.0
2        Prof          A  23.0       20    Male  110515.0
3        Prof          A  40.0       31    Male  131205.0
4        Prof          B  20.0       18    Male  104800.0
5        Prof          A  20.0       20    Male  122400.0
10       Prof          B  39.0       33    Male  128250.0
11       Prof          B  23.0       23    Male  134778.0
13       Prof          B   NaN       33    Male  162200.0
14       Prof          B  25.0       19    Male  153750.0
15       Prof          B  17.0        3    Male  150480.0
18       Prof          A  19.0        7    Male  107300.0
19       Prof          A  29.0       27    Male  150500.0
21       Prof          A  33.0       30    Male  103106.0
26       Prof          A  38.0       19    Male  148750.0
27       Prof          A  45.0       43    Male  155865.0
29       Prof          B  21.0       20    Male  123683.0
30  AssocProf          B   9.0        7    Male  107008.0
31       Prof          B  22.0       21    Male  155750.0
32       Prof          A  27.0       19    Male  103275.0
33       Prof          B  18.0       18    Male  120000.0
34  AssocProf          B   NaN        8    Male  119800.0
35       Prof          B  28.0       23    Male  126933.0
36       Prof          B  45.0       45    Male  146856.0
37       Prof          A  20.0        8    Male  102000.0
39       Prof          B  18.0       18  Female  129000.0
40       Prof          A  39.0       36  Female  137000.0
44       Prof          B  23.0       19  Female  151768.0
45       Prof          B  25.0       25  Female  140096.0
47  AssocProf          B  11.0       11  Female  103613.0
48       Prof          B  17.0       17  Female  111512.0
49       Prof          B  17.0       18  Female  122960.0
51       Prof          B  20.0       14  Female  127512.0
52       Prof          A  12.0        0  Female  105000.0
58       Prof          B  36.0       26  Female  144651.0
59  AssocProf          B  12.0       10  Female  103994.0
61  AssocProf          B  13.0       10  Female  103750.0
62  AssocProf          B  14.0        7  Female  109650.0
65       Prof          A  36.0       19  Female  117555.0
69       Prof          A  28.0        7  Female  116450.0
72       Prof          B  24.0       15  Female  161101.0
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

In [22]:
df[(df['salary']>100000) & (df['gender']== 'Female') ]

         rank discipline   phd  service  gender    salary
39       Prof          B  18.0       18  Female  129000.0
40       Prof          A  39.0       36  Female  137000.0
44       Prof          B  23.0       19  Female  151768.0
45       Prof          B  25.0       25  Female  140096.0
47  AssocProf          B  11.0       11  Female  103613.0
48       Prof          B  17.0       17  Female  111512.0
49       Prof          B  17.0       18  Female  122960.0
51       Prof          B  20.0       14  Female  127512.0
52       Prof          A  12.0        0  Female  105000.0
58       Prof          B  36.0       26  Female  144651.0
59  AssocProf          B  12.0       10  Female  103994.0
61  AssocProf          B  13.0       10  Female  103750.0
62  AssocProf          B  14.0        7  Female  109650.0
65       Prof          A  36.0       19  Female  117555.0
69       Prof          A  28.0        7  Female  116450.0
72       Prof          B  24.0       15  Female  161101.0
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

In [23]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64